

/***  src/css/reset  ***/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1{
  font-size: 2em;
}

h2{
  font-size: 1.7em;
}

h3 {
  font-size: 1.2em;
}



/***  src/css/kforms  ***/



/***  src/css/app  ***/

html {
  font-family: Helvetica, Cabin, Trebuchet, sans-serif;
  font-size: 12px;
  width: 100%;
  height: 100%;
  background: #050505;
  background: -moz-linear-gradient(top, #0a0a0a 0%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a0a0a), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, #0a0a0a 0%, #000000 100%);
  background: -o-linear-gradient(top, #0a0a0a 0%, #000000 100%);
  background: -ms-linear-gradient(top, #0a0a0a 0%, #000000 100%);
  background: linear-gradient(to bottom, #0a0a0a 0%, #000000 100%);
}
body {
  height: 100%;
  overflow: hidden;
}
/**
 * Meny
 */
.meny {
  display: none;
  padding: 20px;
  overflow: auto;
  background: #969696;
  background: -moz-linear-gradient(top, #c8c8c8 0%, #646464 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c8c8c8), color-stop(100%, #646464));
  background: -webkit-linear-gradient(top, #c8c8c8 0%, #646464 100%);
  background: -o-linear-gradient(top, #c8c8c8 0%, #646464 100%);
  background: -ms-linear-gradient(top, #c8c8c8 0%, #646464 100%);
  background: linear-gradient(to bottom, #c8c8c8 0%, #646464 100%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.meny ul {
  margin-top: 10px;
}
.meny ul li {
  display: inline-block;
  list-style: none;
  width: 64px;
  height: 64px;
}
.meny-arrow {
  position: absolute;
  z-index: 10;
  border: 10px solid transparent;
  -webkit-transition: opacity 0.4s ease 0.4s;
  -moz-transition: opacity 0.4s ease 0.4s;
  -ms-transition: opacity 0.4s ease 0.4s;
  -o-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}
.meny-arrow-left {
  border-left: 16px solid #FF7400;
  left: 0;
}
.meny-arrow-right {
  border-right: 16px solid #FF7400;
  right: 0;
}
.meny-active .meny-arrow {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
/**
 * Main contents area
 */
.content {
  padding: 10px;
  padding-left: 25px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: #969696;
  background: -moz-linear-gradient(top, #c8c8c8 0%, #646464 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c8c8c8), color-stop(100%, #646464));
  background: -webkit-linear-gradient(top, #c8c8c8 0%, #646464 100%);
  background: -o-linear-gradient(top, #c8c8c8 0%, #646464 100%);
  background: -ms-linear-gradient(top, #c8c8c8 0%, #646464 100%);
  background: linear-gradient(to bottom, #c8c8c8 0%, #646464 100%);
}
.content > section {
  display: inline-block;
  min-height: 64px;
  min-width: 64px;
  -webkit-box-shadow: 0px 2px 15px rgba(100, 100, 100, 0.3);
  -moz-box-shadow: 0px 2px 15px rgba(100, 100, 100, 0.3);
  box-shadow: 0px 2px 15px rgba(100, 100, 100, 0.3);
}
#add-coverSlip {
  text-align: center;
  border: 3px dotted rgba(100, 100, 100, 0.3);
  opacity: 0.3;
}
#add-coverSlip:hover {
  opacity: 1;
}
#add-coverSlip button {
  min-height: 64px;
  min-width: 64px;
}
